@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

:root {
    --bg-color: #0c0c0f;
    --text-color: #f5f5fa;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(12, 12, 15, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}

.logo:hover {
    text-shadow: 0 0 10px rgba(247, 203, 11, 0.904), 0 0 20px rgba(247, 203, 11, 0.904), 0 0 30px rgba(247, 203, 11, 0.904)
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;

}

.navbar a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(247, 203, 11, 0.904), 0 0 20px rgba(247, 203, 11, 0.904), 0 0 30px rgba(247, 203, 11, 0.904);
}

#menu-icon {
    display: none;
    font-size: 3.6rem;
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.heading span:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(247, 203, 11, 0.904), 0 0 20px rgba(247, 203, 11, 0.904), 0 0 30px rgba(247, 203, 11, 0.904);
}

.heading span {
    color: rgba(255, 255, 255, 0.1);
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    cursor: default;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--bg-color);
    color: var(--text-color);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    cursor: default;
}

.heading {
    text-align: center;
    font-size: 6rem;
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.button {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
    text-shadow: 0 0 10px rgba(247, 203, 11, 0.904), 0 0 20px rgba(247, 203, 11, 0.904), 0 0 30px rgba(247, 203, 11, 0.904);
}

.project-container {
    display: flex;
    flex-direction: row;
    padding: 2em;
    gap: 2em;
    /* shorthand for both row-gap and column-gap */
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.video-thumb {
    width: 22.5rem;
    height: 40rem;
    background-color: #f5f5fa;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: adds a shadow for better visual effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}