@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

:root {
    --bg-color: #0c0c0f;
    --text-color: #f5f5fa;
    --highlights: #F7CB0B;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(12, 12, 15, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}

.logo:hover {
    transform:scale(1.1);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    
}

.navbar a:hover{
    transform:scale(1.1);
}

#menu-icon {
    display: none;
    font-size: 3.6rem;
    color: var(--main-color)
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

span {
    color: rgba(247, 203, 11, 0.904);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--bg-color);
    color: var(--text-color);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

.heading {
    text-align: center;
    font-size: 6rem;
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.button {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
    color: var(--highlights);
}


